/** 
 * 左侧的markdown看起来并不直观
 *
 * 我们稍作修饰
 */

#work-text {
  max-height: 94.5%;
}

#work-text.flipped {
  transform: rotateX(0deg) rotateY(190deg) rotateZ(180deg);
}

#work-text .md {
  transform: rotateY(190deg) rotateZ(180deg);
  margin-top: 1200px;
}

/**
 * 可以使用npm库marked来使markdown转换为html
 * 
 * 下面就是见证奇迹的时刻
 */


