*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.solar-syst {
  font: normal 1em/1.45em "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  /* background: radial-gradient(ellipse at bottom, #1c2837 0%, #050608 100%); */
  background-attachment: fixed;
}

.solar-syst {
  width: 1100px;
  height: 1100px;
  zoom: 0.3;
}
.solar-syst:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 2px;
  top: -2px;
  background: white;
  border-radius: 100px;
}
.solar-syst div {
  border-radius: 1000px;
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 999;
}
.solar-syst div:not(.sun) {
  border: 1px solid rgba(102, 166, 229, 0.12);
}
.solar-syst div:not(.sun):before {
  left: 50%;
  border-radius: 100px;
  content: "";
  position: absolute;
}
.solar-syst div:not(.asteroids-belt):before {
  -webkit-box-shadow: inset 0 6px 0 -2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 6px 0 -2px rgba(0, 0, 0, 0.25);
}

.sun {
  background: radial-gradient(
    ellipse at center,
    #ffd000 1%,
    #f9b700 39%,
    #f9b700 39%,
    #e06317 100%
  );
  height: 40px;
  width: 40px;
  margin-top: -20px;
  margin-left: -20px;
  background-clip: padding-box;
  border: 0 !important;
  background-position: -28px -103px;
  background-size: 175%;
  -webkit-box-shadow: 0 0 10px 2px rgba(255, 107, 0, 0.4),
    0 0 22px 11px rgba(255, 203, 0, 0.13);
  box-shadow: 0 0 10px 2px rgba(255, 107, 0, 0.4),
    0 0 22px 11px rgba(255, 203, 0, 0.13);
}

.mercury {
  height: 70px;
  width: 70px;
  margin-top: -35px;
  margin-left: -35px;
  -webkit-animation: orb 7.1867343561s linear infinite;
  animation: orb 7.1867343561s linear infinite;
}
.mercury:before {
  height: 4px;
  width: 4px;
  background: #9f5e26;
  margin-top: -2px;
  margin-left: -2px;
}

.venus {
  height: 100px;
  width: 100px;
  margin-top: -50px;
  margin-left: -50px;
  -webkit-animation: orb 18.4555338265s linear infinite;
  animation: orb 18.4555338265s linear infinite;
}
.venus:before {
  height: 8px;
  width: 8px;
  background: #beb768;
  margin-top: -4px;
  margin-left: -4px;
}

.earth {
  height: 145px;
  width: 145px;
  margin-top: -72.5px;
  margin-left: -72.5px;
  -webkit-animation: orb 30s linear infinite;
  animation: orb 30s linear infinite;
}
.earth:before {
  height: 6px;
  width: 6px;
  background: #11abe9;
  margin-top: -3px;
  margin-left: -3px;
}
.earth:after {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 50%;
  top: 0px;
  margin-left: -9px;
  margin-top: -9px;
  border-radius: 100px;
  -webkit-box-shadow: 0 -10px 0 -8px grey;
  box-shadow: 0 -10px 0 -8px grey;
  -webkit-animation: orb 2.2440352158s linear infinite;
  animation: orb 2.2440352158s linear infinite;
}

.mars {
  height: 190px;
  width: 190px;
  margin-top: -95px;
  margin-left: -95px;
  -webkit-animation: orb 56.4261314589s linear infinite;
  animation: orb 56.4261314589s linear infinite;
}
.mars:before {
  height: 6px;
  width: 6px;
  background: #cf3921;
  margin-top: -3px;
  margin-left: -3px;
}

.jupiter {
  height: 340px;
  width: 340px;
  margin-top: -170px;
  margin-left: -170px;
  -webkit-animation: orb 355.7228171013s linear infinite;
  animation: orb 355.7228171013s linear infinite;
}
.jupiter:before {
  height: 18px;
  width: 18px;
  background: #c76e2a;
  margin-top: -9px;
  margin-left: -9px;
}

.saturn {
  height: 440px;
  width: 440px;
  margin-top: -220px;
  margin-left: -220px;
  -webkit-animation: orb 882.6952471456s linear infinite;
  animation: orb 882.6952471456s linear infinite;
}
.saturn:before {
  height: 12px;
  width: 12px;
  background: #e7c194;
  margin-top: -6px;
  margin-left: -6px;
}
.saturn:after {
  position: absolute;
  content: "";
  height: 2.34%;
  width: 4.676%;
  left: 50%;
  top: 0px;
  -webkit-transform: rotateZ(-52deg);
  transform: rotateZ(-52deg);
  margin-left: -2.3%;
  margin-top: -1.2%;
  border-radius: 50% 50% 50% 50%;
  -webkit-box-shadow: 0 1px 0 1px #987641, 3px 1px 0 #987641, -3px 1px 0 #987641;
  box-shadow: 0 1px 0 1px #987641, 3px 1px 0 #987641, -3px 1px 0 #987641;
  -webkit-animation: orb 882.6952471456s linear infinite;
  animation: orb 882.6952471456s linear infinite;
  animation-direction: reverse;
  -webkit-transform-origin: 52% 60%;
  transform-origin: 52% 60%;
}

.uranus {
  height: 520px;
  width: 520px;
  margin-top: -260px;
  margin-left: -260px;
  -webkit-animation: orb 2512.4001967933s linear infinite;
  animation: orb 2512.4001967933s linear infinite;
}
.uranus:before {
  height: 10px;
  width: 10px;
  background: #b5e3e3;
  margin-top: -5px;
  margin-left: -5px;
}

.neptune {
  height: 630px;
  width: 630px;
  margin-top: -315px;
  margin-left: -315px;
  -webkit-animation: orb 4911.7838624549s linear infinite;
  animation: orb 4911.7838624549s linear infinite;
}
.neptune:before {
  height: 10px;
  width: 10px;
  background: #175e9e;
  margin-top: -5px;
  margin-left: -5px;
}

.asteroids-belt {
  opacity: 0.7;
  border-color: transparent !important;
  height: 300px;
  width: 300px;
  margin-top: -150px;
  margin-left: -150px;
  -webkit-animation: orb 179.9558282773s linear infinite;
  animation: orb 179.9558282773s linear infinite;
  overflow: hidden;
}
.asteroids-belt:before {
  top: 50%;
  height: 210px;
  width: 210px;
  margin-left: -105px;
  margin-top: -105px;
  background: transparent;
  border-radius: 140px !important;
  -webkit-box-shadow: 114px -88px 0 -104px rgba(255, 255, 255, 0.098),
    -76px -56px 0 -104px rgba(255, 255, 255, 0.678),
    -107px 96px 0 -104px rgba(255, 255, 255, 0.271),
    116px 99px 0 -104px rgba(255, 255, 255, 0.345),
    -117px 21px 0 -104px rgba(255, 255, 255, 0.116),
    -79px -15px 0 -104px rgba(255, 255, 255, 0.871),
    127px -25px 0 -104px rgba(255, 255, 255, 0.903),
    -87px -32px 0 -104px rgba(255, 255, 255, 0.948),
    -89px 107px 0 -104px rgba(255, 255, 255, 0.281),
    19px 45px 0 -104px rgba(255, 255, 255, 0.575),
    63px -118px 0 -104px rgba(255, 255, 255, 0.731),
    126px 61px 0 -104px rgba(255, 255, 255, 0.235),
    49px 94px 0 -104px rgba(255, 255, 255, 0.649),
    55px 102px 0 -104px rgba(255, 255, 255, 0.723),
    -25px 137px 0 -104px rgba(255, 255, 255, 0.397),
    -105px 72px 0 -104px rgba(255, 255, 255, 0.254),
    73px -115px 0 -104px rgba(255, 255, 255, 0.982),
    124px -97px 0 -104px rgba(255, 255, 255, 0.56),
    134px 117px 0 -104px rgba(255, 255, 255, 0.273),
    111px -112px 0 -104px rgba(255, 255, 255, 0.869),
    5px 119px 0 -104px rgba(255, 255, 255, 0.431),
    -116px 127px 0 -104px rgba(255, 255, 255, 0.48),
    -134px 112px 0 -104px rgba(255, 255, 255, 0.794),
    50px 105px 0 -104px rgba(255, 255, 255, 0.992),
    -78px -48px 0 -104px rgba(255, 255, 255, 0.275),
    106px 12px 0 -104px rgba(255, 255, 255, 0.501),
    -16px -82px 0 -104px rgba(255, 255, 255, 0.319),
    -54px 125px 0 -104px rgba(255, 255, 255, 0.71),
    -3px 25px 0 -104px rgba(255, 255, 255, 0.818),
    -85px 133px 0 -104px rgba(255, 255, 255, 0.963),
    -103px 39px 0 -104px rgba(255, 255, 255, 0.419),
    89px -15px 0 -104px rgba(255, 255, 255, 0.883),
    -84px 63px 0 -104px rgba(255, 255, 255, 0.946),
    -50px -126px 0 -104px rgba(255, 255, 255, 0.692),
    118px -1px 0 -104px rgba(255, 255, 255, 0.873),
    -105px -90px 0 -104px rgba(255, 255, 255, 0.608),
    72px -59px 0 -104px rgba(255, 255, 255, 0.044),
    27px -53px 0 -104px rgba(255, 255, 255, 0.475),
    -55px 139px 0 -104px rgba(255, 255, 255, 0.948),
    125px 67px 0 -104px rgba(255, 255, 255, 0.362),
    -36px -40px 0 -104px rgba(255, 255, 255, 0.706),
    75px 122px 0 -104px rgba(255, 255, 255, 0.722),
    7px -91px 0 -104px rgba(255, 255, 255, 0.103),
    19px 77px 0 -104px rgba(255, 255, 255, 0.727),
    25px -26px 0 -104px rgba(255, 255, 255, 0.399),
    84px -81px 0 -104px rgba(255, 255, 255, 0.844),
    -10px 28px 0 -104px rgba(255, 255, 255, 0.229),
    124px 33px 0 -104px rgba(255, 255, 255, 0.621),
    0px 73px 0 -104px rgba(255, 255, 255, 0.95),
    42px 135px 0 -104px rgba(255, 255, 255, 0.193),
    -87px -16px 0 -104px rgba(255, 255, 255, 0.236),
    -138px -125px 0 -104px rgba(255, 255, 255, 0.22),
    38px 96px 0 -104px rgba(255, 255, 255, 0.464),
    139px -100px 0 -104px rgba(255, 255, 255, 0.944),
    95px -124px 0 -104px rgba(255, 255, 255, 0.404),
    -30px 93px 0 -104px rgba(255, 255, 255, 0.814),
    -91px -33px 0 -104px rgba(255, 255, 255, 0.812),
    47px 51px 0 -104px rgba(255, 255, 255, 0.82),
    -88px 23px 0 -104px rgba(255, 255, 255, 0.878),
    27px -97px 0 -104px rgba(255, 255, 255, 0.393),
    -110px -24px 0 -104px rgba(255, 255, 255, 0.858),
    47px 88px 0 -104px rgba(255, 255, 255, 0.673),
    105px -120px 0 -104px rgba(255, 255, 255, 0.984),
    -135px 4px 0 -104px rgba(255, 255, 255, 0.368),
    120px -14px 0 -104px rgba(255, 255, 255, 0.681),
    -37px 48px 0 -104px rgba(255, 255, 255, 0.555),
    -131px -53px 0 -104px rgba(255, 255, 255, 0.575),
    -10px -83px 0 -104px rgba(255, 255, 255, 0.594),
    -67px 67px 0 -104px rgba(255, 255, 255, 0.645),
    -142px -138px 0 -104px rgba(255, 255, 255, 0.321),
    121px -51px 0 -104px rgba(255, 255, 255, 0.378),
    50px -69px 0 -104px rgba(255, 255, 255, 0.829),
    54px 52px 0 -104px rgba(255, 255, 255, 0.12),
    17px -7px 0 -104px rgba(255, 255, 255, 0.843),
    -87px -6px 0 -104px rgba(255, 255, 255, 0.165),
    0px 9px 0 -104px rgba(255, 255, 255, 0.924),
    -83px -88px 0 -104px rgba(255, 255, 255, 0.65),
    -72px 5px 0 -104px rgba(255, 255, 255, 0.921),
    -1px 36px 0 -104px rgba(255, 255, 255, 0.812),
    -102px -48px 0 -104px rgba(255, 255, 255, 0.985),
    61px 21px 0 -104px rgba(255, 255, 255, 0.541),
    11px 59px 0 -104px rgba(255, 255, 255, 0.809),
    93px -52px 0 -104px rgba(255, 255, 255, 0.178),
    142px 88px 0 -104px rgba(255, 255, 255, 0.114),
    20px 113px 0 -104px rgba(255, 255, 255, 0.575),
    -48px -5px 0 -104px rgba(255, 255, 255, 0.688),
    81px -5px 0 -104px rgba(255, 255, 255, 0.502),
    -63px 119px 0 -104px rgba(255, 255, 255, 0.963),
    -103px 81px 0 -104px rgba(255, 255, 255, 0.297),
    111px -143px 0 -104px rgba(255, 255, 255, 0.146),
    -73px 35px 0 -104px rgba(255, 255, 255, 0.849),
    10px 51px 0 -104px rgba(255, 255, 255, 0.576),
    -18px -31px 0 -104px rgba(255, 255, 255, 0.094),
    -126px -133px 0 -104px rgba(255, 255, 255, 0.484),
    -34px -32px 0 -104px rgba(255, 255, 255, 0.778),
    104px 44px 0 -104px rgba(255, 255, 255, 0.535),
    -86px 110px 0 -104px rgba(255, 255, 255, 0.809),
    -104px 40px 0 -104px rgba(255, 255, 255, 0.613),
    99px 120px 0 -104px rgba(255, 255, 255, 0.448),
    122px -69px 0 -104px rgba(255, 255, 255, 0.163),
    -139px -121px 0 -104px rgba(255, 255, 255, 0.987),
    41px 122px 0 -104px rgba(255, 255, 255, 0.053),
    63px 131px 0 -104px rgba(255, 255, 255, 0.803),
    -59px 37px 0 -104px rgba(255, 255, 255, 0.743),
    -10px 90px 0 -104px rgba(255, 255, 255, 0.546),
    -62px 66px 0 -104px rgba(255, 255, 255, 0.207),
    111px -113px 0 -104px rgba(255, 255, 255, 0.136),
    -12px -38px 0 -104px rgba(255, 255, 255, 0.734),
    -89px 94px 0 -104px rgba(255, 255, 255, 0.674),
    -20px 50px 0 -104px rgba(255, 255, 255, 0.799),
    58px -78px 0 -104px rgba(255, 255, 255, 0.75),
    -41px 72px 0 -104px rgba(255, 255, 255, 0.316),
    15px 71px 0 -104px rgba(255, 255, 255, 0.912),
    -121px -86px 0 -104px rgba(255, 255, 255, 0.309),
    116px 55px 0 -104px rgba(255, 255, 255, 0.168),
    -112px 11px 0 -104px rgba(255, 255, 255, 0.397),
    145px -99px 0 -104px rgba(255, 255, 255, 0.261),
    -29px -38px 0 -104px rgba(255, 255, 255, 0.28),
    -72px -96px 0 -104px rgba(255, 255, 255, 0.543),
    -58px 83px 0 -104px rgba(255, 255, 255, 0.624),
    -33px -93px 0 -104px rgba(255, 255, 255, 0.147),
    131px 15px 0 -104px rgba(255, 255, 255, 0.413),
    -130px -71px 0 -104px rgba(255, 255, 255, 0.771),
    -128px -116px 0 -104px rgba(255, 255, 255, 0.788),
    -134px -82px 0 -104px rgba(255, 255, 255, 0.86),
    -96px 5px 0 -104px rgba(255, 255, 255, 0.65),
    -15px 16px 0 -104px rgba(255, 255, 255, 0.297),
    -74px 25px 0 -104px rgba(255, 255, 255, 0.652),
    19px 116px 0 -104px rgba(255, 255, 255, 0.479),
    119px 120px 0 -104px rgba(255, 255, 255, 0.654),
    -142px -122px 0 -104px rgba(255, 255, 255, 0.298),
    -45px -124px 0 -104px rgba(255, 255, 255, 0.12),
    -104px 63px 0 -104px rgba(255, 255, 255, 0.451),
    127px -10px 0 -104px rgba(255, 255, 255, 0.477),
    59px 2px 0 -104px rgba(255, 255, 255, 0.195),
    -29px -123px 0 -104px rgba(255, 255, 255, 0.829),
    -64px -43px 0 -104px rgba(255, 255, 255, 0.821),
    -118px 5px 0 -104px rgba(255, 255, 255, 0.349),
    0px 84px 0 -104px rgba(255, 255, 255, 0.881),
    -139px -71px 0 -104px rgba(255, 255, 255, 0.324),
    -17px -68px 0 -104px rgba(255, 255, 255, 0.883),
    -64px 115px 0 -104px rgba(255, 255, 255, 0.286),
    -59px 43px 0 -104px rgba(255, 255, 255, 0.005),
    -114px 86px 0 -104px rgba(255, 255, 255, 0.534),
    -88px 4px 0 -104px rgba(255, 255, 255, 0.318),
    66px 99px 0 -104px rgba(255, 255, 255, 0.129),
    107px 119px 0 -104px rgba(255, 255, 255, 0.849),
    -72px 21px 0 -104px rgba(255, 255, 255, 0.986),
    -26px -116px 0 -104px rgba(255, 255, 255, 0.74),
    106px 90px 0 -104px rgba(255, 255, 255, 0.352),
    127px 130px 0 -104px rgba(255, 255, 255, 0.02),
    -49px 39px 0 -104px rgba(255, 255, 255, 0.745),
    36px 7px 0 -104px rgba(255, 255, 255, 0.987),
    -73px -122px 0 -104px rgba(255, 255, 255, 0.052),
    -87px 27px 0 -104px rgba(255, 255, 255, 0.125),
    -101px -38px 0 -104px rgba(255, 255, 255, 0.73),
    -122px 37px 0 -104px rgba(255, 255, 255, 0.775),
    -60px 145px 0 -104px rgba(255, 255, 255, 0.675),
    -46px -87px 0 -104px rgba(255, 255, 255, 0.204),
    51px -58px 0 -104px rgba(255, 255, 255, 0.572),
    41px -5px 0 -104px rgba(255, 255, 255, 0.224),
    70px 79px 0 -104px rgba(255, 255, 255, 0.12),
    -104px 60px 0 -104px rgba(255, 255, 255, 0.053),
    81px 73px 0 -104px rgba(255, 255, 255, 0.556),
    61px -52px 0 -104px rgba(255, 255, 255, 0.308),
    44px -68px 0 -104px rgba(255, 255, 255, 0.845),
    129px 118px 0 -104px rgba(255, 255, 255, 0.308),
    -26px 28px 0 -104px rgba(255, 255, 255, 0.643),
    48px 139px 0 -104px rgba(255, 255, 255, 0.174),
    44px 142px 0 -104px rgba(255, 255, 255, 0.155),
    22px 87px 0 -104px rgba(255, 255, 255, 0.68),
    46px 99px 0 -104px rgba(255, 255, 255, 0.39),
    48px -27px 0 -104px rgba(255, 255, 255, 0.738),
    -123px 123px 0 -104px rgba(255, 255, 255, 0.286),
    -14px 52px 0 -104px rgba(255, 255, 255, 0.94),
    129px 67px 0 -104px rgba(255, 255, 255, 0.863),
    54px -7px 0 -104px rgba(255, 255, 255, 0.989),
    -21px -18px 0 -104px rgba(255, 255, 255, 0.424),
    48px 8px 0 -104px rgba(255, 255, 255, 0.761),
    116px 138px 0 -104px rgba(255, 255, 255, 0.513),
    84px -41px 0 -104px rgba(255, 255, 255, 0.772),
    51px -64px 0 -104px rgba(255, 255, 255, 0.634),
    -46px -102px 0 -104px rgba(255, 255, 255, 0.406),
    117px -63px 0 -104px rgba(255, 255, 255, 0.925),
    -24px -92px 0 -104px rgba(255, 255, 255, 0.952),
    -25px -77px 0 -104px rgba(255, 255, 255, 0.725),
    -14px 49px 0 -104px rgba(255, 255, 255, 0.8),
    109px 16px 0 -104px rgba(255, 255, 255, 0.86),
    94px -93px 0 -104px rgba(255, 255, 255, 0.732),
    73px 126px 0 -104px rgba(255, 255, 255, 0.554),
    -55px -59px 0 -104px rgba(255, 255, 255, 0.182),
    -128px 125px 0 -104px rgba(255, 255, 255, 0.267),
    -62px -80px 0 -104px rgba(255, 255, 255, 0.245),
    -136px -63px 0 -104px rgba(255, 255, 255, 0.94),
    101px -54px 0 -104px rgba(255, 255, 255, 0.842),
    -27px 20px 0 -104px rgba(255, 255, 255, 0.435),
    24px 105px 0 -104px rgba(255, 255, 255, 0.486),
    64px 7px 0 -104px rgba(255, 255, 255, 0.459),
    87px -75px 0 -104px rgba(255, 255, 255, 0.64),
    108px 41px 0 -104px rgba(255, 255, 255, 0.469),
    -126px 108px 0 -104px rgba(255, 255, 255, 0.463),
    -18px -78px 0 -104px rgba(255, 255, 255, 0.93),
    82px 84px 0 -104px rgba(255, 255, 255, 0.832),
    80px 16px 0 -104px rgba(255, 255, 255, 0.718),
    -52px -81px 0 -104px rgba(255, 255, 255, 0.597),
    145px 81px 0 -104px rgba(255, 255, 255, 0.84),
    -77px 36px 0 -104px rgba(255, 255, 255, 0.797),
    -33px -5px 0 -104px rgba(255, 255, 255, 0.66),
    67px 113px 0 -104px rgba(255, 255, 255, 0.371),
    51px 3px 0 -104px rgba(255, 255, 255, 0.56),
    -109px -112px 0 -104px rgba(255, 255, 255, 0.266),
    142px 41px 0 -104px rgba(255, 255, 255, 0.374),
    23px -45px 0 -104px rgba(255, 255, 255, 0.466),
    54px -6px 0 -104px rgba(255, 255, 255, 0.711),
    43px 124px 0 -104px rgba(255, 255, 255, 0.042),
    41px 79px 0 -104px rgba(255, 255, 255, 0.851),
    29px 71px 0 -104px rgba(255, 255, 255, 0.188),
    31px -64px 0 -104px rgba(255, 255, 255, 0.472),
    -39px 139px 0 -104px rgba(255, 255, 255, 0.209),
    87px 123px 0 -104px rgba(255, 255, 255, 0.05),
    -64px -39px 0 -104px rgba(255, 255, 255, 0.358),
    41px 87px 0 -104px rgba(255, 255, 255, 0.391),
    37px 42px 0 -104px rgba(255, 255, 255, 0.262),
    -24px 34px 0 -104px rgba(255, 255, 255, 0.73),
    -139px -57px 0 -104px rgba(255, 255, 255, 0.515),
    45px -35px 0 -104px rgba(255, 255, 255, 0.307),
    0px 126px 0 -104px rgba(255, 255, 255, 0.236),
    -134px -80px 0 -104px rgba(255, 255, 255, 0.698),
    112px -64px 0 -104px rgba(255, 255, 255, 0.178),
    113px 25px 0 -104px rgba(255, 255, 255, 0.346),
    81px 140px 0 -104px rgba(255, 255, 255, 0.593),
    -112px -40px 0 -104px rgba(255, 255, 255, 0.802),
    -142px 125px 0 -104px rgba(255, 255, 255, 0.729),
    -68px 106px 0 -104px rgba(255, 255, 255, 0.687),
    -91px 7px 0 -104px rgba(255, 255, 255, 0.255),
    71px -44px 0 -104px rgba(255, 255, 255, 0.757),
    -19px -39px 0 -104px rgba(255, 255, 255, 0.027),
    58px -125px 0 -104px rgba(255, 255, 255, 0.886),
    123px 39px 0 -104px rgba(255, 255, 255, 0.829),
    4px 129px 0 -104px rgba(255, 255, 255, 0.214),
    142px 63px 0 -104px rgba(255, 255, 255, 0.127),
    43px 57px 0 -104px rgba(255, 255, 255, 0.772),
    2px 17px 0 -104px rgba(255, 255, 255, 0.172),
    137px 21px 0 -104px rgba(255, 255, 255, 0.154),
    -72px 123px 0 -104px rgba(255, 255, 255, 0.63),
    56px 132px 0 -104px rgba(255, 255, 255, 0.884),
    91px -86px 0 -104px rgba(255, 255, 255, 0.009),
    -3px -130px 0 -104px rgba(255, 255, 255, 0.877),
    -32px -1px 0 -104px rgba(255, 255, 255, 0.368),
    28px 69px 0 -104px rgba(255, 255, 255, 0.526),
    37px 21px 0 -104px rgba(255, 255, 255, 0.344),
    9px 34px 0 -104px rgba(255, 255, 255, 0.45),
    -87px 49px 0 -104px rgba(255, 255, 255, 0.233),
    -72px -57px 0 -104px rgba(255, 255, 255, 0.669),
    71px 0px 0 -104px rgba(255, 255, 255, 0.8),
    22px -29px 0 -104px rgba(255, 255, 255, 0.387),
    12px 121px 0 -104px rgba(255, 255, 255, 0.827),
    47px -60px 0 -104px rgba(255, 255, 255, 0.53),
    64px 82px 0 -104px rgba(255, 255, 255, 0.491),
    125px -35px 0 -104px rgba(255, 255, 255, 0.484),
    -11px -39px 0 -104px rgba(255, 255, 255, 0.619),
    106px -18px 0 -104px rgba(255, 255, 255, 0.199),
    99px -122px 0 -104px rgba(255, 255, 255, 0.766),
    -9px 127px 0 -104px rgba(255, 255, 255, 0.4),
    115px -119px 0 -104px rgba(255, 255, 255, 0.236),
    -90px 57px 0 -104px rgba(255, 255, 255, 0.63),
    -31px 144px 0 -104px rgba(255, 255, 255, 0.544),
    139px 62px 0 -104px rgba(255, 255, 255, 0.938),
    -47px -22px 0 -104px rgba(255, 255, 255, 0.616),
    -27px 69px 0 -104px rgba(255, 255, 255, 0.276),
    -43px 18px 0 -104px rgba(255, 255, 255, 0.639),
    -76px 135px 0 -104px rgba(255, 255, 255, 0.739),
    -24px -58px 0 -104px rgba(255, 255, 255, 0.343),
    49px -41px 0 -104px rgba(255, 255, 255, 0.416),
    132px 110px 0 -104px rgba(255, 255, 255, 0.526),
    -59px 75px 0 -104px rgba(255, 255, 255, 0.91),
    80px 133px 0 -104px rgba(255, 255, 255, 0.92),
    135px 61px 0 -104px rgba(255, 255, 255, 0.97),
    -73px -103px 0 -104px rgba(255, 255, 255, 0.915),
    111px 101px 0 -104px rgba(255, 255, 255, 0.592),
    -12px -105px 0 -104px rgba(255, 255, 255, 0.821),
    71px -88px 0 -104px rgba(255, 255, 255, 0.826),
    112px 79px 0 -104px rgba(255, 255, 255, 0.07),
    137px 61px 0 -104px rgba(255, 255, 255, 0.658),
    133px 103px 0 -104px rgba(255, 255, 255, 0.979),
    57px 24px 0 -104px rgba(255, 255, 255, 0.577),
    -121px 87px 0 -104px rgba(255, 255, 255, 0.6),
    -116px -17px 0 -104px rgba(255, 255, 255, 0.711),
    143px -11px 0 -104px rgba(255, 255, 255, 0.435),
    -42px -50px 0 -104px rgba(255, 255, 255, 0.58),
    134px 5px 0 -104px rgba(255, 255, 255, 0.568),
    61px -90px 0 -104px rgba(255, 255, 255, 0.676),
    45px -85px 0 -104px rgba(255, 255, 255, 0.904),
    -132px -35px 0 -104px rgba(255, 255, 255, 0.155),
    38px 65px 0 -104px rgba(255, 255, 255, 0.529),
    -72px -143px 0 -104px rgba(255, 255, 255, 0.79),
    118px -51px 0 -104px rgba(255, 255, 255, 0.264),
    14px -2px 0 -104px rgba(255, 255, 255, 0.576),
    -140px 127px 0 -104px rgba(255, 255, 255, 0.292),
    12px 124px 0 -104px rgba(255, 255, 255, 0.859),
    128px 3px 0 -104px rgba(255, 255, 255, 0.729),
    -47px 104px 0 -104px rgba(255, 255, 255, 0.18),
    18px -44px 0 -104px rgba(255, 255, 255, 0.42),
    54px 10px 0 -104px rgba(255, 255, 255, 0.315),
    -64px -135px 0 -104px rgba(255, 255, 255, 0.839),
    -111px -46px 0 -104px rgba(255, 255, 255, 0.971),
    -39px -144px 0 -104px rgba(255, 255, 255, 0.905),
    -55px 11px 0 -104px rgba(255, 255, 255, 0.837),
    -60px 30px 0 -104px rgba(255, 255, 255, 0.666),
    48px 128px 0 -104px rgba(255, 255, 255, 0.796),
    45px -65px 0 -104px rgba(255, 255, 255, 0.625),
    -118px 133px 0 -104px rgba(255, 255, 255, 0.597),
    116px 97px 0 -104px rgba(255, 255, 255, 0.902),
    -9px -89px 0 -104px rgba(255, 255, 255, 0.342),
    120px -97px 0 -104px rgba(255, 255, 255, 1),
    24px -33px 0 -104px rgba(255, 255, 255, 0.183),
    134px -76px 0 -104px rgba(255, 255, 255, 0.991),
    106px 58px 0 -104px rgba(255, 255, 255, 0.953),
    127px -107px 0 -104px rgba(255, 255, 255, 0.517),
    134px -11px 0 -104px rgba(255, 255, 255, 0.65),
    -16px 19px 0 -104px rgba(255, 255, 255, 0.063),
    -3px -110px 0 -104px rgba(255, 255, 255, 0.017),
    21px -137px 0 -104px rgba(255, 255, 255, 0.459),
    43px -73px 0 -104px rgba(255, 255, 255, 0.331),
    -137px 116px 0 -104px rgba(255, 255, 255, 0.882),
    112px 85px 0 -104px rgba(255, 255, 255, 0.231),
    143px -87px 0 -104px rgba(255, 255, 255, 0.927),
    -49px -44px 0 -104px rgba(255, 255, 255, 0.376),
    15px 25px 0 -104px rgba(255, 255, 255, 0.279),
    91px -59px 0 -104px rgba(255, 255, 255, 0.331),
    -140px -27px 0 -104px rgba(255, 255, 255, 0.408),
    -118px 21px 0 -104px rgba(255, 255, 255, 0.257),
    116px 109px 0 -104px rgba(255, 255, 255, 0.735),
    -31px 11px 0 -104px rgba(255, 255, 255, 0.25),
    131px 64px 0 -104px rgba(255, 255, 255, 0.67),
    -31px 126px 0 -104px rgba(255, 255, 255, 0.938),
    -141px -115px 0 -104px rgba(255, 255, 255, 0.721),
    65px -82px 0 -104px rgba(255, 255, 255, 0.662),
    75px -133px 0 -104px rgba(255, 255, 255, 0.433),
    136px 97px 0 -104px rgba(255, 255, 255, 0.717),
    89px 119px 0 -104px rgba(255, 255, 255, 0.444),
    -130px -134px 0 -104px rgba(255, 255, 255, 0.227),
    20px 11px 0 -104px rgba(255, 255, 255, 0.604),
    50px -125px 0 -104px rgba(255, 255, 255, 0.247),
    -61px -136px 0 -104px rgba(255, 255, 255, 0.212),
    17px 52px 0 -104px rgba(255, 255, 255, 0.185),
    77px -133px 0 -104px rgba(255, 255, 255, 0.056),
    134px -87px 0 -104px rgba(255, 255, 255, 0.869),
    9px -98px 0 -104px rgba(255, 255, 255, 0.635),
    95px 47px 0 -104px rgba(255, 255, 255, 0.174),
    58px 109px 0 -104px rgba(255, 255, 255, 0.5),
    -121px 47px 0 -104px rgba(255, 255, 255, 0.06),
    -114px -85px 0 -104px rgba(255, 255, 255, 0.23),
    -119px -48px 0 -104px rgba(255, 255, 255, 0.425),
    -100px 40px 0 -104px rgba(255, 255, 255, 0.584),
    84px 81px 0 -104px rgba(255, 255, 255, 0.264),
    -101px -65px 0 -104px rgba(255, 255, 255, 0.636),
    -24px 45px 0 -104px rgba(255, 255, 255, 0.446),
    -32px -143px 0 -104px rgba(255, 255, 255, 0.06),
    116px -74px 0 -104px rgba(255, 255, 255, 0.019),
    -96px 77px 0 -104px rgba(255, 255, 255, 0.029),
    -38px 73px 0 -104px rgba(255, 255, 255, 0.158),
    -19px -37px 0 -104px rgba(255, 255, 255, 0.585),
    -138px -73px 0 -104px rgba(255, 255, 255, 0.446),
    16px -58px 0 -104px rgba(255, 255, 255, 1),
    55px 89px 0 -104px rgba(255, 255, 255, 0.318),
    38px -118px 0 -104px rgba(255, 255, 255, 0.796),
    -136px 87px 0 -104px rgba(255, 255, 255, 0.545),
    33px 18px 0 -104px rgba(255, 255, 255, 0.089),
    18px 52px 0 -104px rgba(255, 255, 255, 0.15),
    -3px -47px 0 -104px rgba(255, 255, 255, 0.169),
    26px 17px 0 -104px rgba(255, 255, 255, 0.017),
    53px -5px 0 -104px rgba(255, 255, 255, 0.656),
    91px -69px 0 -104px rgba(255, 255, 255, 0.851),
    125px 21px 0 -104px rgba(255, 255, 255, 0.718),
    -119px 51px 0 -104px rgba(255, 255, 255, 0.004),
    104px 102px 0 -104px rgba(255, 255, 255, 0.329),
    33px 78px 0 -104px rgba(255, 255, 255, 0.604),
    -41px 6px 0 -104px rgba(255, 255, 255, 0.77),
    134px 125px 0 -104px rgba(255, 255, 255, 0.142),
    33px 91px 0 -104px rgba(255, 255, 255, 0.045),
    79px 21px 0 -104px rgba(255, 255, 255, 0.236),
    47px -12px 0 -104px rgba(255, 255, 255, 0.524),
    -119px 98px 0 -104px rgba(255, 255, 255, 0.274),
    -61px -98px 0 -104px rgba(255, 255, 255, 0.944),
    -53px 30px 0 -104px rgba(255, 255, 255, 0.114),
    -92px 21px 0 -104px rgba(255, 255, 255, 0.784),
    93px -52px 0 -104px rgba(255, 255, 255, 0.562),
    -92px -2px 0 -104px rgba(255, 255, 255, 0.681),
    133px 32px 0 -104px rgba(255, 255, 255, 0.15);
  box-shadow: 114px -88px 0 -104px rgba(255, 255, 255, 0.098),
    -76px -56px 0 -104px rgba(255, 255, 255, 0.678),
    -107px 96px 0 -104px rgba(255, 255, 255, 0.271),
    116px 99px 0 -104px rgba(255, 255, 255, 0.345),
    -117px 21px 0 -104px rgba(255, 255, 255, 0.116),
    -79px -15px 0 -104px rgba(255, 255, 255, 0.871),
    127px -25px 0 -104px rgba(255, 255, 255, 0.903),
    -87px -32px 0 -104px rgba(255, 255, 255, 0.948),
    -89px 107px 0 -104px rgba(255, 255, 255, 0.281),
    19px 45px 0 -104px rgba(255, 255, 255, 0.575),
    63px -118px 0 -104px rgba(255, 255, 255, 0.731),
    126px 61px 0 -104px rgba(255, 255, 255, 0.235),
    49px 94px 0 -104px rgba(255, 255, 255, 0.649),
    55px 102px 0 -104px rgba(255, 255, 255, 0.723),
    -25px 137px 0 -104px rgba(255, 255, 255, 0.397),
    -105px 72px 0 -104px rgba(255, 255, 255, 0.254),
    73px -115px 0 -104px rgba(255, 255, 255, 0.982),
    124px -97px 0 -104px rgba(255, 255, 255, 0.56),
    134px 117px 0 -104px rgba(255, 255, 255, 0.273),
    111px -112px 0 -104px rgba(255, 255, 255, 0.869),
    5px 119px 0 -104px rgba(255, 255, 255, 0.431),
    -116px 127px 0 -104px rgba(255, 255, 255, 0.48),
    -134px 112px 0 -104px rgba(255, 255, 255, 0.794),
    50px 105px 0 -104px rgba(255, 255, 255, 0.992),
    -78px -48px 0 -104px rgba(255, 255, 255, 0.275),
    106px 12px 0 -104px rgba(255, 255, 255, 0.501),
    -16px -82px 0 -104px rgba(255, 255, 255, 0.319),
    -54px 125px 0 -104px rgba(255, 255, 255, 0.71),
    -3px 25px 0 -104px rgba(255, 255, 255, 0.818),
    -85px 133px 0 -104px rgba(255, 255, 255, 0.963),
    -103px 39px 0 -104px rgba(255, 255, 255, 0.419),
    89px -15px 0 -104px rgba(255, 255, 255, 0.883),
    -84px 63px 0 -104px rgba(255, 255, 255, 0.946),
    -50px -126px 0 -104px rgba(255, 255, 255, 0.692),
    118px -1px 0 -104px rgba(255, 255, 255, 0.873),
    -105px -90px 0 -104px rgba(255, 255, 255, 0.608),
    72px -59px 0 -104px rgba(255, 255, 255, 0.044),
    27px -53px 0 -104px rgba(255, 255, 255, 0.475),
    -55px 139px 0 -104px rgba(255, 255, 255, 0.948),
    125px 67px 0 -104px rgba(255, 255, 255, 0.362),
    -36px -40px 0 -104px rgba(255, 255, 255, 0.706),
    75px 122px 0 -104px rgba(255, 255, 255, 0.722),
    7px -91px 0 -104px rgba(255, 255, 255, 0.103),
    19px 77px 0 -104px rgba(255, 255, 255, 0.727),
    25px -26px 0 -104px rgba(255, 255, 255, 0.399),
    84px -81px 0 -104px rgba(255, 255, 255, 0.844),
    -10px 28px 0 -104px rgba(255, 255, 255, 0.229),
    124px 33px 0 -104px rgba(255, 255, 255, 0.621),
    0px 73px 0 -104px rgba(255, 255, 255, 0.95),
    42px 135px 0 -104px rgba(255, 255, 255, 0.193),
    -87px -16px 0 -104px rgba(255, 255, 255, 0.236),
    -138px -125px 0 -104px rgba(255, 255, 255, 0.22),
    38px 96px 0 -104px rgba(255, 255, 255, 0.464),
    139px -100px 0 -104px rgba(255, 255, 255, 0.944),
    95px -124px 0 -104px rgba(255, 255, 255, 0.404),
    -30px 93px 0 -104px rgba(255, 255, 255, 0.814),
    -91px -33px 0 -104px rgba(255, 255, 255, 0.812),
    47px 51px 0 -104px rgba(255, 255, 255, 0.82),
    -88px 23px 0 -104px rgba(255, 255, 255, 0.878),
    27px -97px 0 -104px rgba(255, 255, 255, 0.393),
    -110px -24px 0 -104px rgba(255, 255, 255, 0.858),
    47px 88px 0 -104px rgba(255, 255, 255, 0.673),
    105px -120px 0 -104px rgba(255, 255, 255, 0.984),
    -135px 4px 0 -104px rgba(255, 255, 255, 0.368),
    120px -14px 0 -104px rgba(255, 255, 255, 0.681),
    -37px 48px 0 -104px rgba(255, 255, 255, 0.555),
    -131px -53px 0 -104px rgba(255, 255, 255, 0.575),
    -10px -83px 0 -104px rgba(255, 255, 255, 0.594),
    -67px 67px 0 -104px rgba(255, 255, 255, 0.645),
    -142px -138px 0 -104px rgba(255, 255, 255, 0.321),
    121px -51px 0 -104px rgba(255, 255, 255, 0.378),
    50px -69px 0 -104px rgba(255, 255, 255, 0.829),
    54px 52px 0 -104px rgba(255, 255, 255, 0.12),
    17px -7px 0 -104px rgba(255, 255, 255, 0.843),
    -87px -6px 0 -104px rgba(255, 255, 255, 0.165),
    0px 9px 0 -104px rgba(255, 255, 255, 0.924),
    -83px -88px 0 -104px rgba(255, 255, 255, 0.65),
    -72px 5px 0 -104px rgba(255, 255, 255, 0.921),
    -1px 36px 0 -104px rgba(255, 255, 255, 0.812),
    -102px -48px 0 -104px rgba(255, 255, 255, 0.985),
    61px 21px 0 -104px rgba(255, 255, 255, 0.541),
    11px 59px 0 -104px rgba(255, 255, 255, 0.809),
    93px -52px 0 -104px rgba(255, 255, 255, 0.178),
    142px 88px 0 -104px rgba(255, 255, 255, 0.114),
    20px 113px 0 -104px rgba(255, 255, 255, 0.575),
    -48px -5px 0 -104px rgba(255, 255, 255, 0.688),
    81px -5px 0 -104px rgba(255, 255, 255, 0.502),
    -63px 119px 0 -104px rgba(255, 255, 255, 0.963),
    -103px 81px 0 -104px rgba(255, 255, 255, 0.297),
    111px -143px 0 -104px rgba(255, 255, 255, 0.146),
    -73px 35px 0 -104px rgba(255, 255, 255, 0.849),
    10px 51px 0 -104px rgba(255, 255, 255, 0.576),
    -18px -31px 0 -104px rgba(255, 255, 255, 0.094),
    -126px -133px 0 -104px rgba(255, 255, 255, 0.484),
    -34px -32px 0 -104px rgba(255, 255, 255, 0.778),
    104px 44px 0 -104px rgba(255, 255, 255, 0.535),
    -86px 110px 0 -104px rgba(255, 255, 255, 0.809),
    -104px 40px 0 -104px rgba(255, 255, 255, 0.613),
    99px 120px 0 -104px rgba(255, 255, 255, 0.448),
    122px -69px 0 -104px rgba(255, 255, 255, 0.163),
    -139px -121px 0 -104px rgba(255, 255, 255, 0.987),
    41px 122px 0 -104px rgba(255, 255, 255, 0.053),
    63px 131px 0 -104px rgba(255, 255, 255, 0.803),
    -59px 37px 0 -104px rgba(255, 255, 255, 0.743),
    -10px 90px 0 -104px rgba(255, 255, 255, 0.546),
    -62px 66px 0 -104px rgba(255, 255, 255, 0.207),
    111px -113px 0 -104px rgba(255, 255, 255, 0.136),
    -12px -38px 0 -104px rgba(255, 255, 255, 0.734),
    -89px 94px 0 -104px rgba(255, 255, 255, 0.674),
    -20px 50px 0 -104px rgba(255, 255, 255, 0.799),
    58px -78px 0 -104px rgba(255, 255, 255, 0.75),
    -41px 72px 0 -104px rgba(255, 255, 255, 0.316),
    15px 71px 0 -104px rgba(255, 255, 255, 0.912),
    -121px -86px 0 -104px rgba(255, 255, 255, 0.309),
    116px 55px 0 -104px rgba(255, 255, 255, 0.168),
    -112px 11px 0 -104px rgba(255, 255, 255, 0.397),
    145px -99px 0 -104px rgba(255, 255, 255, 0.261),
    -29px -38px 0 -104px rgba(255, 255, 255, 0.28),
    -72px -96px 0 -104px rgba(255, 255, 255, 0.543),
    -58px 83px 0 -104px rgba(255, 255, 255, 0.624),
    -33px -93px 0 -104px rgba(255, 255, 255, 0.147),
    131px 15px 0 -104px rgba(255, 255, 255, 0.413),
    -130px -71px 0 -104px rgba(255, 255, 255, 0.771),
    -128px -116px 0 -104px rgba(255, 255, 255, 0.788),
    -134px -82px 0 -104px rgba(255, 255, 255, 0.86),
    -96px 5px 0 -104px rgba(255, 255, 255, 0.65),
    -15px 16px 0 -104px rgba(255, 255, 255, 0.297),
    -74px 25px 0 -104px rgba(255, 255, 255, 0.652),
    19px 116px 0 -104px rgba(255, 255, 255, 0.479),
    119px 120px 0 -104px rgba(255, 255, 255, 0.654),
    -142px -122px 0 -104px rgba(255, 255, 255, 0.298),
    -45px -124px 0 -104px rgba(255, 255, 255, 0.12),
    -104px 63px 0 -104px rgba(255, 255, 255, 0.451),
    127px -10px 0 -104px rgba(255, 255, 255, 0.477),
    59px 2px 0 -104px rgba(255, 255, 255, 0.195),
    -29px -123px 0 -104px rgba(255, 255, 255, 0.829),
    -64px -43px 0 -104px rgba(255, 255, 255, 0.821),
    -118px 5px 0 -104px rgba(255, 255, 255, 0.349),
    0px 84px 0 -104px rgba(255, 255, 255, 0.881),
    -139px -71px 0 -104px rgba(255, 255, 255, 0.324),
    -17px -68px 0 -104px rgba(255, 255, 255, 0.883),
    -64px 115px 0 -104px rgba(255, 255, 255, 0.286),
    -59px 43px 0 -104px rgba(255, 255, 255, 0.005),
    -114px 86px 0 -104px rgba(255, 255, 255, 0.534),
    -88px 4px 0 -104px rgba(255, 255, 255, 0.318),
    66px 99px 0 -104px rgba(255, 255, 255, 0.129),
    107px 119px 0 -104px rgba(255, 255, 255, 0.849),
    -72px 21px 0 -104px rgba(255, 255, 255, 0.986),
    -26px -116px 0 -104px rgba(255, 255, 255, 0.74),
    106px 90px 0 -104px rgba(255, 255, 255, 0.352),
    127px 130px 0 -104px rgba(255, 255, 255, 0.02),
    -49px 39px 0 -104px rgba(255, 255, 255, 0.745),
    36px 7px 0 -104px rgba(255, 255, 255, 0.987),
    -73px -122px 0 -104px rgba(255, 255, 255, 0.052),
    -87px 27px 0 -104px rgba(255, 255, 255, 0.125),
    -101px -38px 0 -104px rgba(255, 255, 255, 0.73),
    -122px 37px 0 -104px rgba(255, 255, 255, 0.775),
    -60px 145px 0 -104px rgba(255, 255, 255, 0.675),
    -46px -87px 0 -104px rgba(255, 255, 255, 0.204),
    51px -58px 0 -104px rgba(255, 255, 255, 0.572),
    41px -5px 0 -104px rgba(255, 255, 255, 0.224),
    70px 79px 0 -104px rgba(255, 255, 255, 0.12),
    -104px 60px 0 -104px rgba(255, 255, 255, 0.053),
    81px 73px 0 -104px rgba(255, 255, 255, 0.556),
    61px -52px 0 -104px rgba(255, 255, 255, 0.308),
    44px -68px 0 -104px rgba(255, 255, 255, 0.845),
    129px 118px 0 -104px rgba(255, 255, 255, 0.308),
    -26px 28px 0 -104px rgba(255, 255, 255, 0.643),
    48px 139px 0 -104px rgba(255, 255, 255, 0.174),
    44px 142px 0 -104px rgba(255, 255, 255, 0.155),
    22px 87px 0 -104px rgba(255, 255, 255, 0.68),
    46px 99px 0 -104px rgba(255, 255, 255, 0.39),
    48px -27px 0 -104px rgba(255, 255, 255, 0.738),
    -123px 123px 0 -104px rgba(255, 255, 255, 0.286),
    -14px 52px 0 -104px rgba(255, 255, 255, 0.94),
    129px 67px 0 -104px rgba(255, 255, 255, 0.863),
    54px -7px 0 -104px rgba(255, 255, 255, 0.989),
    -21px -18px 0 -104px rgba(255, 255, 255, 0.424),
    48px 8px 0 -104px rgba(255, 255, 255, 0.761),
    116px 138px 0 -104px rgba(255, 255, 255, 0.513),
    84px -41px 0 -104px rgba(255, 255, 255, 0.772),
    51px -64px 0 -104px rgba(255, 255, 255, 0.634),
    -46px -102px 0 -104px rgba(255, 255, 255, 0.406),
    117px -63px 0 -104px rgba(255, 255, 255, 0.925),
    -24px -92px 0 -104px rgba(255, 255, 255, 0.952),
    -25px -77px 0 -104px rgba(255, 255, 255, 0.725),
    -14px 49px 0 -104px rgba(255, 255, 255, 0.8),
    109px 16px 0 -104px rgba(255, 255, 255, 0.86),
    94px -93px 0 -104px rgba(255, 255, 255, 0.732),
    73px 126px 0 -104px rgba(255, 255, 255, 0.554),
    -55px -59px 0 -104px rgba(255, 255, 255, 0.182),
    -128px 125px 0 -104px rgba(255, 255, 255, 0.267),
    -62px -80px 0 -104px rgba(255, 255, 255, 0.245),
    -136px -63px 0 -104px rgba(255, 255, 255, 0.94),
    101px -54px 0 -104px rgba(255, 255, 255, 0.842),
    -27px 20px 0 -104px rgba(255, 255, 255, 0.435),
    24px 105px 0 -104px rgba(255, 255, 255, 0.486),
    64px 7px 0 -104px rgba(255, 255, 255, 0.459),
    87px -75px 0 -104px rgba(255, 255, 255, 0.64),
    108px 41px 0 -104px rgba(255, 255, 255, 0.469),
    -126px 108px 0 -104px rgba(255, 255, 255, 0.463),
    -18px -78px 0 -104px rgba(255, 255, 255, 0.93),
    82px 84px 0 -104px rgba(255, 255, 255, 0.832),
    80px 16px 0 -104px rgba(255, 255, 255, 0.718),
    -52px -81px 0 -104px rgba(255, 255, 255, 0.597),
    145px 81px 0 -104px rgba(255, 255, 255, 0.84),
    -77px 36px 0 -104px rgba(255, 255, 255, 0.797),
    -33px -5px 0 -104px rgba(255, 255, 255, 0.66),
    67px 113px 0 -104px rgba(255, 255, 255, 0.371),
    51px 3px 0 -104px rgba(255, 255, 255, 0.56),
    -109px -112px 0 -104px rgba(255, 255, 255, 0.266),
    142px 41px 0 -104px rgba(255, 255, 255, 0.374),
    23px -45px 0 -104px rgba(255, 255, 255, 0.466),
    54px -6px 0 -104px rgba(255, 255, 255, 0.711),
    43px 124px 0 -104px rgba(255, 255, 255, 0.042),
    41px 79px 0 -104px rgba(255, 255, 255, 0.851),
    29px 71px 0 -104px rgba(255, 255, 255, 0.188),
    31px -64px 0 -104px rgba(255, 255, 255, 0.472),
    -39px 139px 0 -104px rgba(255, 255, 255, 0.209),
    87px 123px 0 -104px rgba(255, 255, 255, 0.05),
    -64px -39px 0 -104px rgba(255, 255, 255, 0.358),
    41px 87px 0 -104px rgba(255, 255, 255, 0.391),
    37px 42px 0 -104px rgba(255, 255, 255, 0.262),
    -24px 34px 0 -104px rgba(255, 255, 255, 0.73),
    -139px -57px 0 -104px rgba(255, 255, 255, 0.515),
    45px -35px 0 -104px rgba(255, 255, 255, 0.307),
    0px 126px 0 -104px rgba(255, 255, 255, 0.236),
    -134px -80px 0 -104px rgba(255, 255, 255, 0.698),
    112px -64px 0 -104px rgba(255, 255, 255, 0.178),
    113px 25px 0 -104px rgba(255, 255, 255, 0.346),
    81px 140px 0 -104px rgba(255, 255, 255, 0.593),
    -112px -40px 0 -104px rgba(255, 255, 255, 0.802),
    -142px 125px 0 -104px rgba(255, 255, 255, 0.729),
    -68px 106px 0 -104px rgba(255, 255, 255, 0.687),
    -91px 7px 0 -104px rgba(255, 255, 255, 0.255),
    71px -44px 0 -104px rgba(255, 255, 255, 0.757),
    -19px -39px 0 -104px rgba(255, 255, 255, 0.027),
    58px -125px 0 -104px rgba(255, 255, 255, 0.886),
    123px 39px 0 -104px rgba(255, 255, 255, 0.829),
    4px 129px 0 -104px rgba(255, 255, 255, 0.214),
    142px 63px 0 -104px rgba(255, 255, 255, 0.127),
    43px 57px 0 -104px rgba(255, 255, 255, 0.772),
    2px 17px 0 -104px rgba(255, 255, 255, 0.172),
    137px 21px 0 -104px rgba(255, 255, 255, 0.154),
    -72px 123px 0 -104px rgba(255, 255, 255, 0.63),
    56px 132px 0 -104px rgba(255, 255, 255, 0.884),
    91px -86px 0 -104px rgba(255, 255, 255, 0.009),
    -3px -130px 0 -104px rgba(255, 255, 255, 0.877),
    -32px -1px 0 -104px rgba(255, 255, 255, 0.368),
    28px 69px 0 -104px rgba(255, 255, 255, 0.526),
    37px 21px 0 -104px rgba(255, 255, 255, 0.344),
    9px 34px 0 -104px rgba(255, 255, 255, 0.45),
    -87px 49px 0 -104px rgba(255, 255, 255, 0.233),
    -72px -57px 0 -104px rgba(255, 255, 255, 0.669),
    71px 0px 0 -104px rgba(255, 255, 255, 0.8),
    22px -29px 0 -104px rgba(255, 255, 255, 0.387),
    12px 121px 0 -104px rgba(255, 255, 255, 0.827),
    47px -60px 0 -104px rgba(255, 255, 255, 0.53),
    64px 82px 0 -104px rgba(255, 255, 255, 0.491),
    125px -35px 0 -104px rgba(255, 255, 255, 0.484),
    -11px -39px 0 -104px rgba(255, 255, 255, 0.619),
    106px -18px 0 -104px rgba(255, 255, 255, 0.199),
    99px -122px 0 -104px rgba(255, 255, 255, 0.766),
    -9px 127px 0 -104px rgba(255, 255, 255, 0.4),
    115px -119px 0 -104px rgba(255, 255, 255, 0.236),
    -90px 57px 0 -104px rgba(255, 255, 255, 0.63),
    -31px 144px 0 -104px rgba(255, 255, 255, 0.544),
    139px 62px 0 -104px rgba(255, 255, 255, 0.938),
    -47px -22px 0 -104px rgba(255, 255, 255, 0.616),
    -27px 69px 0 -104px rgba(255, 255, 255, 0.276),
    -43px 18px 0 -104px rgba(255, 255, 255, 0.639),
    -76px 135px 0 -104px rgba(255, 255, 255, 0.739),
    -24px -58px 0 -104px rgba(255, 255, 255, 0.343),
    49px -41px 0 -104px rgba(255, 255, 255, 0.416),
    132px 110px 0 -104px rgba(255, 255, 255, 0.526),
    -59px 75px 0 -104px rgba(255, 255, 255, 0.91),
    80px 133px 0 -104px rgba(255, 255, 255, 0.92),
    135px 61px 0 -104px rgba(255, 255, 255, 0.97),
    -73px -103px 0 -104px rgba(255, 255, 255, 0.915),
    111px 101px 0 -104px rgba(255, 255, 255, 0.592),
    -12px -105px 0 -104px rgba(255, 255, 255, 0.821),
    71px -88px 0 -104px rgba(255, 255, 255, 0.826),
    112px 79px 0 -104px rgba(255, 255, 255, 0.07),
    137px 61px 0 -104px rgba(255, 255, 255, 0.658),
    133px 103px 0 -104px rgba(255, 255, 255, 0.979),
    57px 24px 0 -104px rgba(255, 255, 255, 0.577),
    -121px 87px 0 -104px rgba(255, 255, 255, 0.6),
    -116px -17px 0 -104px rgba(255, 255, 255, 0.711),
    143px -11px 0 -104px rgba(255, 255, 255, 0.435),
    -42px -50px 0 -104px rgba(255, 255, 255, 0.58),
    134px 5px 0 -104px rgba(255, 255, 255, 0.568),
    61px -90px 0 -104px rgba(255, 255, 255, 0.676),
    45px -85px 0 -104px rgba(255, 255, 255, 0.904),
    -132px -35px 0 -104px rgba(255, 255, 255, 0.155),
    38px 65px 0 -104px rgba(255, 255, 255, 0.529),
    -72px -143px 0 -104px rgba(255, 255, 255, 0.79),
    118px -51px 0 -104px rgba(255, 255, 255, 0.264),
    14px -2px 0 -104px rgba(255, 255, 255, 0.576),
    -140px 127px 0 -104px rgba(255, 255, 255, 0.292),
    12px 124px 0 -104px rgba(255, 255, 255, 0.859),
    128px 3px 0 -104px rgba(255, 255, 255, 0.729),
    -47px 104px 0 -104px rgba(255, 255, 255, 0.18),
    18px -44px 0 -104px rgba(255, 255, 255, 0.42),
    54px 10px 0 -104px rgba(255, 255, 255, 0.315),
    -64px -135px 0 -104px rgba(255, 255, 255, 0.839),
    -111px -46px 0 -104px rgba(255, 255, 255, 0.971),
    -39px -144px 0 -104px rgba(255, 255, 255, 0.905),
    -55px 11px 0 -104px rgba(255, 255, 255, 0.837),
    -60px 30px 0 -104px rgba(255, 255, 255, 0.666),
    48px 128px 0 -104px rgba(255, 255, 255, 0.796),
    45px -65px 0 -104px rgba(255, 255, 255, 0.625),
    -118px 133px 0 -104px rgba(255, 255, 255, 0.597),
    116px 97px 0 -104px rgba(255, 255, 255, 0.902),
    -9px -89px 0 -104px rgba(255, 255, 255, 0.342),
    120px -97px 0 -104px rgba(255, 255, 255, 1),
    24px -33px 0 -104px rgba(255, 255, 255, 0.183),
    134px -76px 0 -104px rgba(255, 255, 255, 0.991),
    106px 58px 0 -104px rgba(255, 255, 255, 0.953),
    127px -107px 0 -104px rgba(255, 255, 255, 0.517),
    134px -11px 0 -104px rgba(255, 255, 255, 0.65),
    -16px 19px 0 -104px rgba(255, 255, 255, 0.063),
    -3px -110px 0 -104px rgba(255, 255, 255, 0.017),
    21px -137px 0 -104px rgba(255, 255, 255, 0.459),
    43px -73px 0 -104px rgba(255, 255, 255, 0.331),
    -137px 116px 0 -104px rgba(255, 255, 255, 0.882),
    112px 85px 0 -104px rgba(255, 255, 255, 0.231),
    143px -87px 0 -104px rgba(255, 255, 255, 0.927),
    -49px -44px 0 -104px rgba(255, 255, 255, 0.376),
    15px 25px 0 -104px rgba(255, 255, 255, 0.279),
    91px -59px 0 -104px rgba(255, 255, 255, 0.331),
    -140px -27px 0 -104px rgba(255, 255, 255, 0.408),
    -118px 21px 0 -104px rgba(255, 255, 255, 0.257),
    116px 109px 0 -104px rgba(255, 255, 255, 0.735),
    -31px 11px 0 -104px rgba(255, 255, 255, 0.25),
    131px 64px 0 -104px rgba(255, 255, 255, 0.67),
    -31px 126px 0 -104px rgba(255, 255, 255, 0.938),
    -141px -115px 0 -104px rgba(255, 255, 255, 0.721),
    65px -82px 0 -104px rgba(255, 255, 255, 0.662),
    75px -133px 0 -104px rgba(255, 255, 255, 0.433),
    136px 97px 0 -104px rgba(255, 255, 255, 0.717),
    89px 119px 0 -104px rgba(255, 255, 255, 0.444),
    -130px -134px 0 -104px rgba(255, 255, 255, 0.227),
    20px 11px 0 -104px rgba(255, 255, 255, 0.604),
    50px -125px 0 -104px rgba(255, 255, 255, 0.247),
    -61px -136px 0 -104px rgba(255, 255, 255, 0.212),
    17px 52px 0 -104px rgba(255, 255, 255, 0.185),
    77px -133px 0 -104px rgba(255, 255, 255, 0.056),
    134px -87px 0 -104px rgba(255, 255, 255, 0.869),
    9px -98px 0 -104px rgba(255, 255, 255, 0.635),
    95px 47px 0 -104px rgba(255, 255, 255, 0.174),
    58px 109px 0 -104px rgba(255, 255, 255, 0.5),
    -121px 47px 0 -104px rgba(255, 255, 255, 0.06),
    -114px -85px 0 -104px rgba(255, 255, 255, 0.23),
    -119px -48px 0 -104px rgba(255, 255, 255, 0.425),
    -100px 40px 0 -104px rgba(255, 255, 255, 0.584),
    84px 81px 0 -104px rgba(255, 255, 255, 0.264),
    -101px -65px 0 -104px rgba(255, 255, 255, 0.636),
    -24px 45px 0 -104px rgba(255, 255, 255, 0.446),
    -32px -143px 0 -104px rgba(255, 255, 255, 0.06),
    116px -74px 0 -104px rgba(255, 255, 255, 0.019),
    -96px 77px 0 -104px rgba(255, 255, 255, 0.029),
    -38px 73px 0 -104px rgba(255, 255, 255, 0.158),
    -19px -37px 0 -104px rgba(255, 255, 255, 0.585),
    -138px -73px 0 -104px rgba(255, 255, 255, 0.446),
    16px -58px 0 -104px rgba(255, 255, 255, 1),
    55px 89px 0 -104px rgba(255, 255, 255, 0.318),
    38px -118px 0 -104px rgba(255, 255, 255, 0.796),
    -136px 87px 0 -104px rgba(255, 255, 255, 0.545),
    33px 18px 0 -104px rgba(255, 255, 255, 0.089),
    18px 52px 0 -104px rgba(255, 255, 255, 0.15),
    -3px -47px 0 -104px rgba(255, 255, 255, 0.169),
    26px 17px 0 -104px rgba(255, 255, 255, 0.017),
    53px -5px 0 -104px rgba(255, 255, 255, 0.656),
    91px -69px 0 -104px rgba(255, 255, 255, 0.851),
    125px 21px 0 -104px rgba(255, 255, 255, 0.718),
    -119px 51px 0 -104px rgba(255, 255, 255, 0.004),
    104px 102px 0 -104px rgba(255, 255, 255, 0.329),
    33px 78px 0 -104px rgba(255, 255, 255, 0.604),
    -41px 6px 0 -104px rgba(255, 255, 255, 0.77),
    134px 125px 0 -104px rgba(255, 255, 255, 0.142),
    33px 91px 0 -104px rgba(255, 255, 255, 0.045),
    79px 21px 0 -104px rgba(255, 255, 255, 0.236),
    47px -12px 0 -104px rgba(255, 255, 255, 0.524),
    -119px 98px 0 -104px rgba(255, 255, 255, 0.274),
    -61px -98px 0 -104px rgba(255, 255, 255, 0.944),
    -53px 30px 0 -104px rgba(255, 255, 255, 0.114),
    -92px 21px 0 -104px rgba(255, 255, 255, 0.784),
    93px -52px 0 -104px rgba(255, 255, 255, 0.562),
    -92px -2px 0 -104px rgba(255, 255, 255, 0.681),
    133px 32px 0 -104px rgba(255, 255, 255, 0.15);
}

.pluto {
  height: 780px;
  width: 780px;
  margin-top: -450px;
  margin-left: -320px;
  -webkit-animation: orb 7439.7074054575s linear infinite;
  animation: orb 7439.7074054575s linear infinite;
}
.pluto:before {
  height: 3px;
  width: 3px;
  background: #fff;
  margin-top: -1.5px;
  margin-left: -1.5px;
}

@-webkit-keyframes orb {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes orb {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
