html, body
  margin-top: 0
  height: 100%
  overflow: hidden

pre
  max-height: 99%
  width: 100%
  overflow: auto
  white-space: pre-wrap;
  border-radius: 1px

a:after
  content: ''
  padding-right: 5px
  border-color: inherit

a:last-of-type:after
  border: none
