::-webkit-scrollbar
  width:0 !important

html, body
  margin-top: 0
  height: 100%
  overflow: hidden

pre
  max-height: 99%
  width: 100%
  overflow-y: auto
  overflow-x: hidden
  white-space: pre-wrap
  border-radius: 1px

a:after
  content: ''
  padding-right: 5px
  border-color: inherit

a:last-of-type:after
  border: none

pre:not(:empty)
  padding: 10px 10px 20px

@media only screen and (max-width: 601px)
  pre:not(:empty)
    padding: 10px 1px 20px
